

body{ 
 
    background-color: black;
    width:100%;
    height:100vh;
    color:#f21991;

}
#header{ 

        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 21px;
    }
#nav {
 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:800;
  font-style: normal;
  padding: 10px;
}

#img-logo {
    height: 82px;
    width: 300px;
    margin-right: auto; 
    cursor: pointer;/* Pushes the logo to the left */
}

.link {
   
    margin: 0 45px; /* Adjust the spacing between links as needed */
    text-decoration: none;   
    color:#f4e9ef;
}
.link:hover{
    margin: 0 45px; /* Adjust the spacing between links as needed */
    text-decoration:underline;   
    color:#f21991;

}

/*main*/
.firstpage {
    background-image: url("/photos/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Ensure the image covers the full section */
    height: 100vh; /* Full viewport height */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.firstpage > * {
    position: relative;
    z-index: 2;
}

.firstpage::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Overlay effect */
    z-index: 1;
}
h1{
    font-family: "Kanit", sans-serif;
    font-weight: 900;
    font-style:normal;
    color:rgb(255, 255, 255);
    font-size: 3em;
     margin: 0;
}
.firstpage p{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    color:rgb(255, 255, 255);
    font-size: 2em;
}
.firstpage .fpb{
    background-color: azure;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 45px;
    margin: 12px;
}
.firstpage .fpb:hover{
    background-color:#f21991;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200;
    color: white;
}
/*specialities*/
.specialities{
    padding: 60px 20px;
    text-align: center;
}
.specialities h2 {
    margin-bottom: 40px;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 2em;
}
.dishes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dish {
    width: 30%;
    margin: 20px;
}
.dish:hover{
    width: 32%;
    margin: 20px;
    box-shadow: 10px 10px 5px rgb(29, 30, 30);
}
.dish img {
    width: 100%;
    border-radius: 10px;
}
.dish p {
    margin: 10px 0;
    color: aliceblue;
}
/*section 3*/
.story{
    padding: 60px 20px;
    text-align: center;
    background-image:url("/photos/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Ensure the image covers the full section */
    height: 100vh; /* Full viewport height */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.story >*{
    position: relative;
    z-index: 2;
}
.story::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Overlay effect */
    z-index: 1;
    
}
.story h2{
    margin-bottom: 40px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
}
.story p{
    color:#f0cde0;
    font-family: "Abril Fatface", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
}
.footer{
    padding: 60px 20px;
    text-align: center;
}
.footer p{
    color:#f21991;
}
.imag{
     width:30px;
     height:30px;
}
.imag:hover{
    
    width:34px;
    height:34px;
    
}

